

{{input key-up="filteredListOfAuthors" type="text" placeholder='By First Name' value=firstAuthor }} 

<hr>
<h1 class="center">List of Authors </h1>
<hr>

 {{yield filteredAuthor}} 



<!-- <p>This is after yield</p> -->